.header {
  color: lime;
  background: #00638a;
  height: auto;
  text-align: center;
  color: white;
  border: 2px solid whitesmoke;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 5px auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: scaleY(-1);
}

.graph_container {
  border: 1px solid red;
  margin: 5% auto;
}
.button_container {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 3% auto;
}
.algo {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: #00778a;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
}
.compare {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 2% auto;
  align-items: center;
}
.compare_item {
  width: 40%;
  box-shadow: 5px 5px 5px 6px grey;
}
.compare_wrapper {
  border: 1px solid orange;
}

.options {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid magenta;
  width: 90%;
  margin: 0 auto;
}
.slider_wrapper {
  border: 1px solid lime;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 150px;
  width: 50%;
}
.tabs_container {
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: flex-end;
}
.tabs {
  background: white;
  color: #00778a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60%;
  cursor: pointer;
}
.tabs_active {
  background: #00dbfc;
  color: white;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60%;
  cursor: pointer;
}
